div.div54{

    text-align: center;
    
    background-image: url("./SitesImages/ContactUS.jpg");
    background-size:cover;
   
   height: 100%;
    overflow: auto;
    color:rgb(27, 60, 37);
   margin-bottom: 0;
   padding-bottom: 0;
   text-shadow: 1px 2px 3px #1ca1bc;  
   background-attachment: fixed;
    padding-block-start: 0.1cm;
    padding-block-end: 1cm;
    padding-left: 5cm;
    padding-right: 3cm;
    /* text-shadow: 0 4px 8px 0 rgba(11, 117, 199, 0.769), 0 6px 20px 0 rgba(160, 160, 188, 0.696);  */
}   

/* }
div.divcontact{
    text-align: center;
    padding-left: 3.5cm;
    background-image: url("./image9.jpg");
    background-size:cover;
   
   height: 100%;
    overflow: auto;
    color:rgb(153, 198, 237);
   margin-bottom: 0;
   padding-bottom: 0;
    

    padding-block-start: 0.1cm;
    padding-block-end: 1cm;

    top:0;
} */
div.divcontact{
    text-align: center;
    /* padding-right: 3.5cm; */
    background-image: url("./image9.jpg");
    background-size:cover;
    position:fixed;
   height: 36%;
   text-shadow: 3px 5px 5px #1ca1bc;
  
    /* overflow: auto; */
    color:rgb(153, 198, 237);
   margin-bottom: 0;
   padding-bottom: 0;
    
    /* border-style:inset; */
    box-shadow: 0 4px 8px 0 rgba(11, 117, 199, 0.769), 0 6px 20px 0 rgba(160, 160, 188, 0.696); 
    border-color: rgb(153, 198, 237);
   
    padding-block-start: 0.1cm;
    padding-block-end: cm;
    right:0.5cm;
    
    padding-left:0.5cm;
    padding-right: 0.5cm;
    top:2.5cm;
}